In [1]:
!nvidia-smi

Tue Mar  9 07:26:13 2021
+-----------------------------------------------------------------------------+
| NVIDIA-SMI 460.56       Driver Version: 460.32.03    CUDA Version: 11.2     |
|-------------------------------+----------------------+----------------------+
| GPU  Name        Persistence-M| Bus-Id        Disp.A | Volatile Uncorr. ECC |
| Fan  Temp  Perf  Pwr:Usage/Cap|         Memory-Usage | GPU-Util  Compute M. |
|                               |                      |               MIG M. |
|===============================+======================+======================|
|   0  Tesla K80           Off  | 00000000:00:04.0 Off |                    0 |
| N/A   36C    P8    27W / 149W |      0MiB / 11441MiB |      0%      Default |
|                               |                      |                  N/A |
+-------------------------------+----------------------+----------------------+

+-----------------------------------------------------------------------------+
| Processes:                                                                  |
|  GPU   GI   CI        PID   Type   Process name                  GPU Memory |
|        ID   ID                                                   Usage      |
|=============================================================================|
|  No running processes found                                                 |
+-----------------------------------------------------------------------------+

In [5]:
import os
from google.colab import drive
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from xgboost import XGBClassifier
from sklearn.model_selection import train_test_split

In [6]:
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [7]:
main_path = 'gdrive/My Drive/Colab Notebooks/DSAI_hw1'
print(os.listdir(main_path))

['本年度每日尖峰備轉容量率.csv', '台灣電力公司_過去電力供需資訊.csv']

In [66]:
train_df = pd.read_csv(os.path.join(main_path,'台灣電力公司_過去電力供需資訊.csv'))

label_df = train_df['備轉容量(MW)']

# label_df.drop(train_df.iloc[:, 0:1], inplace = True, axis = 1)
train_df.drop(train_df.iloc[:, 3:5], inplace = True, axis = 1)
train_df.drop(['核一#1(萬瓩)'], inplace = True, axis = 1)
train_df.drop(['核一#2(萬瓩)'], inplace = True, axis = 1)
train_df.drop(train_df.iloc[:, 5:-3], inplace = True, axis = 1)
print(train_df.columns)

Index(['日期', '淨尖峰供電能力(MW)', '尖峰負載(MW)', '工業用電(百萬度)', '民生用電(百萬度)', '其他小水力',
       '風力發電', '太陽能發電'],
      dtype='object')

In [67]:
train_df.head(10)

         日期  淨尖峰供電能力(MW)  尖峰負載(MW)  工業用電(百萬度)  民生用電(百萬度)  其他小水力  風力發電  太陽能發電
0  20200101        28125     25335    301.704    206.750   13.3  20.4    0.0
1  20200102        31303     28223    330.461    226.457   20.8   7.5    0.0
2  20200103        31676     28292    335.832    230.138   19.8  12.5    0.0
3  20200104        29219     25583    312.093    213.870   20.5  10.8    0.0
4  20200105        27456     24761    295.308    202.368   18.2   3.1    0.0
5  20200106        31653     28644    332.374    227.768   20.5   1.9    0.3
6  20200107        32248     29144    343.528    235.411   21.1   1.7    0.0
7  20200108        31779     28544    340.649    233.438   20.1  59.8    0.0
8  20200109        31861     28730    340.817    233.553   19.6  33.7    0.0
9  20200110        31774     28476    341.671    234.138    7.4  13.0   37.2

In [68]:
label_df.head(10)

0    2790
1    3080
2    3384
3    3636
4    2695
5    3009
6    3104
7    3235
8    3131
9    3298
Name: 備轉容量(MW), dtype: int64

In [69]:
x_train, x_test, y_train, y_test = train_test_split(train_df, label_df, test_size=0.2, random_state=42)
# print(len(x_train))
# print(len(y_train))
# print(len(x_test))
# print(len(y_test))

In [70]:
xgb = XGBClassifier()
xgb.fit(x_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, gamma=0,
              learning_rate=0.1, max_delta_step=0, max_depth=3,
              min_child_weight=1, missing=None, n_estimators=100, n_jobs=1,
              nthread=None, objective='multi:softprob', random_state=0,
              reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
              silent=None, subsample=1, verbosity=1)

In [71]:
test_date = [[20210323],[20210324],[20210325],[20210326],[20210327],[20210328],[20210329]]
test_df = pd.DataFrame(test_date, columns=['日期'])

In [72]:
print(x_test.head(10))

           日期  淨尖峰供電能力(MW)  尖峰負載(MW)  工業用電(百萬度)  民生用電(百萬度)  其他小水力  風力發電  太陽能發電
114  20200424        31626     27678    339.469    230.174    7.0  28.0   30.5
278  20201005        37047     32508    369.536    315.444   14.5  63.2  160.8
237  20200825        40885     37073    380.910    350.284   21.4  36.6  202.4
57   20200227        32621     28368    348.469    245.178   21.2  60.3    0.0
72   20200313        32263     29165    353.107    237.444    7.3   6.8   43.4
354  20201220        29274     25658    313.192    201.771   17.1  61.7    0.0
73   20200314        29628     25802    320.592    215.579   17.7  55.0    0.4
157  20200606        34992     30752    328.179    268.824   20.4  49.6  166.6
153  20200602        38452     34381    350.639    287.222   24.5  19.3  212.7
358  20201224        33402     29857    362.992    233.854   16.8  59.0    4.2

In [73]:
print(x_test)

           日期  淨尖峰供電能力(MW)  尖峰負載(MW)  工業用電(百萬度)  民生用電(百萬度)  其他小水力  風力發電  太陽能發電
114  20200424        31626     27678    339.469    230.174    7.0  28.0   30.5
278  20201005        37047     32508    369.536    315.444   14.5  63.2  160.8
237  20200825        40885     37073    380.910    350.284   21.4  36.6  202.4
57   20200227        32621     28368    348.469    245.178   21.2  60.3    0.0
72   20200313        32263     29165    353.107    237.444    7.3   6.8   43.4
..        ...          ...       ...        ...        ...    ...   ...    ...
366  20210101        28487     25720    311.468    212.061   14.9  30.6    0.0
340  20201206        28297     25606    313.723    202.113   21.3  51.8    0.0
132  20200512        35739     31973    352.004    254.635   11.2  10.9  103.8
3    20200104        29219     25583    312.093    213.870   20.5  10.8    0.0
18   20200119        28656     25322    302.209    207.097   21.8  19.5    0.0

[80 rows x 8 columns]

In [80]:
print(xgb.score(x_test,y_test))
result = xgb.predict(x_test)
print(result)
rms=np.sqrt(np.mean((result-y_test)**2))
print(rms)

0.0
[3483 5434 4384 3106 3346 3086 3086 3286 3675 3047 3497 3418 3489 3379
 3157 4367 3187 3295 3295 4384 3104 3144 3199 3489 3810 3286 3106 3551
 4384 3088 3187 3199 3551 3106 3219 3094 4384 4367 3199 3426 3489 3551
 3106 3219 3675 3157 3020 3295 3551 3551 4384 4249 4086 3609 4249 3465
 3975 3810 4367 3379 3086 3379 3102 4650 4174 3476 3094 3286 3823 3983
 3286 4249 3132 3094 4384 2906 3199 4085 3286 3489]
594.6388399692707

In [82]:
from sklearn.ensemble import RandomForestClassifier
rfc = RandomForestClassifier()
rfc.fit(x_train, y_train)
print(rfc.score(x_test, y_test))
result = rfc.predict(x_test)
print(result)
rms=np.sqrt(np.mean((result-y_test)**2))
print(rms)

0.0
[3508 4239 3869 4249 3609 2830 4108 3484 4163 3047 3412 3269 3887 3179
 3201 4458 3219 3460 3088 5085 3386 4547 3147 3851 3144 2869 3002 3767
 3869 3088 4125 4066 3084 3123 3179 3314 3724 3768 3199 3382 3551 3463
 3219 3132 4932 3810 3749 3739 3190 4650 4811 3739 3297 3187 3160 3926
 3862 3297 4387 4061 3304 3739 3102 3700 4547 3476 3314 3203 3398 3983
 3384 3146 3097 3094 4651 3073 2830 4085 3160 3379]
504.002070928285